
form {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  
    display: flex;
    flex-direction: column;
  }
  
  .formulario__texto {
    padding-left: 10px ;
    align-items: start;
    text-align: start;
  }
  
  
  
  .formulario__celda,
  template {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  
    resize: none;
    background-color: #05131c;
    border: none;
    border-radius: 20px 2px;
    width: 300px;
    padding: 10px;
    margin: 5px auto;
  }
  
  textarea{
    height: 70px;
  }
  .formulario__enviar {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: white;
  background-color: #1a3d54;
    margin-top: 20px;
    transition: 0.5s;
border: none;
    border-radius: 7px 2px;
    padding: 10px 2px;
    width: 270px;
    font-weight: bold;
    align-self: center;
  }
  
  .formulario__enviar:hover {
    cursor: pointer;
    color: #fff;
    background-color: var(--fondo_contraste2);
  }
  
  .contacto__formulario {
    position: relative;
    font-weight: 600;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
    gap: 20px;
    background: #0c1e2b;
    border-radius: 40px 2px;
    margin: 5px;
    padding: 30px;
  }
  
  

form{
  position: relative;
  z-index: 10;
}

@media (max-width: 700px){
  .contacto__formulario{
    margin-bottom: 40px;
  }

}