.nav__menu--fondo{
      
    position: fixed;
  top: 0;
    z-index: 98;
    content: "";
    width: 100%;

 height: 110px;
 border-bottom-left-radius: 1.5rem;
 border-bottom-right-radius: 1.5rem;
    transition: 0.5s;
 
}

.nav--scroll{
    background:var(--fondo_nav);
    backdrop-filter: var(--trasparenteBorroso);
}



.nav{
    top: 0;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    
    padding: 30px 0;
    z-index: 99;
    width: 100%;

   position: fixed;
   &__logo{
    font-family: "Righteous", cursive;
    font-weight: bold;
    font-size: 35px;
   }

   &__menu{
       display: flex;
       list-style: none;
       gap: 20px;
       margin: 0;
       
      

       & a{
        color: #a0a0a0;
        padding: 2px 4px ;
        font-weight: bold;
        transition:  var(--trasition);
        position: relative;
      

        &::after{
            position: absolute;
            content: "";
            inset: 0;
            top:27px;
            align-self: center;
            justify-self: center;
            width: 20px;
            height: 3px;
            border-radius: 7px;
            background: #3b3b3b6e;
transition: var(--trasition);

           }
      

        &:hover::after{
            background: var(--color_primario);
            width: 70%;
        }
        &:hover{
           color: #ffff;
        }

        
       }

     
  
   }
}


.menu--toggle{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    width: 20px;
    height: 20px;
  font-size: 35px;
  display: none;
}





@media (max-width: 700px) {
    .nav{
      
        padding: 30px 20px;
        justify-content: space-between;
    }
    .nav__menu{
        position: absolute;
        z-index: 90;
        overflow: hidden;
        padding: 40px 0 40px 0;
      width: 100%;
      left: -17px;
      right: 0;
        top: 70%;
        gap: 0;
transition: 0.3s;
        align-items: center;
        text-align: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        opacity: 0;
     
    }
    .menu--toggle{
       
         margin-right: 40px;
        display: flex;
        width: 50px;
        height:50px;
        flex-direction: column;
  gap: 7px;

        & span{
            transition: var(--trasition);
            width: 30px;
            display: flex;
            height:3px;
            border-radius: 30px;
            background: #ffff;
        }
    }
    
    .active{
        gap: 15px;
        height: auto;
        top: 100%;
      opacity: 1;
        
    }

    .hidden {
        display: none;
      }



.active-fondo{
    position: fixed;
    top: 0;
      z-index: 98;
      content: "";
      width: 100%;
      background:var(--fondo_nav);
      backdrop-filter: var(--trasparenteBorroso);
  
   height: 110px;
   border-bottom-left-radius: 1.5rem;
   border-bottom-right-radius: 1.5rem;
      transition: 0.2s;
    height:340px;

   
}

    .mostrar_x{
       
      
        & .barra1{
            transition: var(--trasition);
            transform-origin: right;
            transform: rotate(-43deg);
        }

        & .barra2{
            transition: var(--trasition);
            opacity: 0;
        }

        & .barra3{
            transform-origin: right;
            transition: var(--trasition);
            transform: rotate(41deg);
        }
    }

  
    
}